*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


  
.container{


    border: 2px solid;
    background-image: url("black2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: ;
}
  
    


.left{
    height: ;
    width:330px;

    position: relative;
    
}
.check{
    display: none;
}

.a{
    font-size: 50px;

    color: rgb(253, 251, 251);
    position:absolute;
    margin-top: 15px;
    left: 25px;
}

.b{
  
    position: absolute;
    font-size: 50px;

    color: rgb(253, 251, 251);
    position:absolute;
    margin-top: px;
    left: 25px;
}

.a:hover{
    cursor: pointer;

}
a{
    color: white;
    text-decoration: none;
}
.b:hover{
    cursor: pointer;
}

.main{
    
    background-color: rgba(22, 21, 21, 0.726);
    height: 100vh;
    position:relative;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    box-shadow: 2px 2px 10px rgb(131, 129, 129);
  transform: translateX(-300px);
  position: relative;

  
    
}


.h1{
    color: rgb(44, 181, 223);
    display: inline-block;
    position: absolute;
    left: 32%;
    top: 15px;

}

.box{
    

    margin-top: 80px;
     font-size: 30px;
     font-weight: 700;
     height: 10vh;
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 1px 1px 2px rgba(105, 104, 104, 0.788);
     border-radius: 8px;
     
     color: rgb(246, 248, 248);

}

.box:hover{
    box-shadow: 3px 3px 10px rgb(168, 166, 166);
    cursor: pointer;
    font-size: 32px;
}

#check:checked ~.main{

    transform: translateX(0px);
    transition: 0.6s linear;
    z-index: 2;
    
    
  
}


#check:not(checked) ~.main{

    transform: translateX(-400px);
    transition: 0.6s linear;
    z-index: 0;
  
}

#check:checked ~.a{
    display:none;
}

#check:checked ~.b{
    display:none;
}


span:hover{
    padding: 2px;
    border-radius: 5px;

    cursor: pointer;
    
}






.x:hover{
    color: red;
    font-size: 43px;
    cursor: pointer;
}


.x{
    color: white;
    font-size: 40px;
    margin-top: 10px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 85%;
    top: 5px;
}

